@model Product

<div class="row">
    <div class="col-md-6">

        <a asp-action="Index">Ürün Listesine Dön</a> -
        @Html.ActionLink("Ürün Listesine Dön", "Index")

        <h1>Ürün Kayıt Formu</h1>

        <form asp-action="Create" class="mail_sectin" method="post">

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Message
                </div>
            }

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-select" asp-items="@ViewBag.Categories">
                    <option value="">Please select a category</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Title"></label>
                <input type="text" class="form-control" asp-for="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Price"></label>
                <input type="number" class="form-control" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-danger">Save Product</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
