<div class="row">
    <div class="col-md-6">

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Error
            </div>
        }

        <a asp-action="Index">Back to Product List</a> -
        @Html.ActionLink("Back to Product List", "Index")

        <h1>Create Product</h1>

        <form asp-action="Create" class="mail_sectin" method="post">

            <div class="mb-3">
                <label>Category</label>
                <select name="CategoryId" class="form-select" asp-items="@ViewBag.Categories">
                    <option value="">Please select a category</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Product Name</label>
                <input type="text" class="form-control" placeholder="Product Name" name="Name">
            </div>

            <div class="mb-3">
                <label>Product Price</label>
                <input type="text" class="form-control" placeholder="Price" name="Price">
            </div>

            <button type="submit" class="btn btn-danger">Save Product</button>
        </form>
    </div>
</div>
