@model NavbarViewModel
@inject IWebHostEnvironment env
@using System.Security.Claims;
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            ASP.NET Eticaret
            @if (env.IsDevelopment())
            {
                <text>(DEV)</text>
            }
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <form class="d-flex" role="search" asp-controller="Product" asp-action="Search">
                <input class="form-control me-2" type="search" name="query" placeholder="Ürün ara" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Ara</button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Hakkımızda</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Kategoriler</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var category in Model.Categories)
                        {
                            <li><a class="dropdown-item" asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">@category.Name</a></li>
                        }

                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" asp-controller="Product" asp-action="Popular">Çok Satan Ürünler</a></li>
                        <li><a class="dropdown-item" asp-controller="Product" asp-action="NewArrival">Yeni Ürünler</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ms-lg-4">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @*@Context.User.Identity.Name*@
                            @*@Context.User.FindFirst(ClaimTypes.Name)*@
                            @Context.User.FindFirst(ClaimTypes.GivenName).Value
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            @if (Context.User.IsInRole("Admin"))
                            {
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
                            }
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Profile">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>
                    </li>
                }
            </ul>

            <form class="d-flex" asp-controller="Cart" asp-action="Index">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>

        </div>
    </div>
</nav>