@using Eticaret.SharedLibrary;
@model List<RaporKategoriViewModel>

<h1 class="mt-4">Giriş</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Raporlar</li>
</ol>


<div class="row">
    <div class="col-md-3">
        <h4>Kategorilere Göre Ürünler</h4>
        <canvas id="chartKategori"></canvas>

    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('chartKategori');

        new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [@Html.Raw(StringUtils.ListToString(Model.Select(o => o.Key).ToList()))],
                datasets: [{
                    label: '# adet ürün',
                    data: [@String.Join(',', Model.Select(o=>o.Count))],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}